body {
	background: #d6d6d6;
	font-family: "Inter", sans-serif;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #333;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
