@import url(http://fonts.googleapis.com/css?family=Hind:300,500);

body{
    background: #D6D6D6;
    font-family: 'Montserrat', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
