body {
	font-family: "Inter", sans-serif;
	background: #27292e;
	color: #e0e0e0;
}

a {
	color: #90caf9;
}

.ag-theme-alpine {
	--ag-background-color: #23272e;
	--ag-header-background-color: #181a1b;
	--ag-odd-row-background-color: #23272e;
	--ag-row-hover-color: #333842;
	--ag-header-foreground-color: #e0e0e0;
	--ag-foreground-color: #e0e0e0;
	--ag-border-color: #333842;
}
