a {
	color: #90caf9;
}

.ag-theme-alpine {
	--ag-background-color: #23272e;
	--ag-header-background-color: #181a1b;
	--ag-odd-row-background-color: #23272e;
	--ag-row-hover-color: #333842;
	--ag-header-foreground-color: #e0e0e0;
	--ag-foreground-color: #e0e0e0;
	--ag-border-color: #333842;
}

body {
	font-family: "Inter", sans-serif;
	background: #27292e;
	color: #e0e0e0;
	margin: 3;
}

@media (max-width: 1000px) {
	body {
		font-family: "Inter", sans-serif;
		background: #27292e;
		color: #e0e0e0;
		margin: 0;
	}

	.ag-theme-alpine .ag-cell,
	.ag-theme-alpine .ag-header-cell {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	.ag-theme-alpine .ag-cell {
		line-height: 1.2;
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	}

	.ag-theme-alpine .ag-header-cell-label {
		padding: 2px 4px !important;
	}

	.grid-wrapper {
		margin: 0;
		padding: 0;
		min-width: 600px; /* allow horizontal scroll if needed */
		overflow-x: auto;
	}
}

.ag-theme-alpine .rating-cell {
	line-height: 2 !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
